*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#111;
  background:linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.7945553221288515) 36%, rgba(0,0,0,0.5777485994397759) 79%, rgba(0,0,0,1) 88%), url('https://images.unsplash.com/photo-1534375971785-5c1826f739d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') no-repeat top center;
  height: 100%;
  color: white;
  font-family: 'Montserrat', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25vh;
}
.start-image{
  /* background: black; */
  margin-bottom: 20vh;
  margin-left: 10vw;
  font-family: 'Montserrat', serif;
}
.start-image > h3{
  font-size: 100px;
}
.start-image > p {
  font-size: 40px;
  font-weight: 100;
}
.yellow{
  color: #ffd000;
  font-size: 25px;
}
.title{
  font-size: 3rem;
  font-family: 'Montserrat', serif;
}
.login, .signup{
  font-size: 20px;
  padding: 8px;
  width: 10rem;
  color:white;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease-out;
}
.head-button-container{
  display: flex;
  width: 28rem;
  justify-content: space-around;
}
.login {
  border: 3px solid;
  border-image: linear-gradient(51deg, #FF0000,#6800FF) 1;
  background: transparent;
  padding: 5px;
}
.login:hover{
  transform: scale(1.08);
}
.signup{
  background: rgb(255,0,204);
  background: linear-gradient(51deg, rgba(255,0,0,1), rgba(104,0,255,1));
  border:none;
}
.signup:hover{
  transform: scale(1.08);
}
.logo{
  width: 20rem;
}
.drop{
  margin-left: 20px;
  cursor: pointer;
  background: linear-gradient(51deg, rgba(255,0,0,1), rgba(104,0,255,1));
  border-radius: 20px;
  padding: 5px;
  position: relative;
}
.drop:hover{
  transform: scale(1.2);
}
.nav-list{
  padding: 40px;
  font-size: 30px;
  right:0;
  top: 8rem;
  height: 100%;
  position: absolute;
  z-index:0;
  background: rgb(131,58,180);
  background: linear-gradient(rgba(131,58,180,0) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 54%, rgba(0,0,0,1) 72%, rgba(252,176,69,0) 95%);
  opacity: 0;
  transition: all .5s ease;
}
.nav-list > a {
  text-decoration: none;
  color: rgba(104,0,255,.7);
  font-size: 35px;
  transition: all .8s ease-out;
}
.nav-list > a:hover{
  color: rgba(255,0,0,.7);
  transform: scale(1.08);
}
.search-box {
  margin: 30px;
  padding: 2px 10px;
  color: grey;
  border: 3px solid;
  border-image: linear-gradient(51deg, #FF0000,#6800FF) 1;
  background: transparent;
}
.movies {
  margin-bottom: 5vh;
}
.movies > .row::-webkit-scrollbar{
  background-color: #222;
  height: 3px;
}
.movies > .row::-webkit-scrollbar-thumb{
  background-color: white;
}
.movies > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.movie-heading {
  font-size: 35px;
  margin: 10px 0 0 20px;
  border-bottom: 1px solid white;
  font-family: 'Montserrat', serif;
}
.movie-title{
  font-size: 17px;
  font-weight: bold;
}
.year {
  font-size: 13px;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
  cursor:pointer;
}
.image-container:hover{
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: .8;
}
.overlay {
  position: absolute;
  background: rgb(0 0 0 / .9);
  width: 90%;
  transition: 0.5s ease;
  opacity: 0;
  bottom:0;
  padding: 20px;
}
.icon:hover{
  transform: scale(1.2);
}
.heart-icon:hover{
  color: pink;
}
.heart-icon:active{
  color:red;
}
.plus-icon:hover{
  color: #ca99f7;
}
.plus-icon:active{
  color:#8b0ffc;
}
.check-icon:hover{
  color: #f7e699;
}
.check-icon:active{
  color:#ffd000;
}
